/* Default portal typeface. Licence and source metadata: golos-text/. */
@font-face{font-family:'Golos Text';src:url('./golos-text/GolosText-variable.woff2') format('woff2');font-weight:400 900;font-style:normal;font-display:swap}
@font-face{font-family:'TT Norms Pro';src:url('./tt-norms-pro/tt-norms-pro-400.woff2') format('woff2');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'TT Norms Pro';src:url('./tt-norms-pro/tt-norms-pro-500.woff2') format('woff2');font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'TT Norms Pro';src:url('./tt-norms-pro/tt-norms-pro-700.woff2') format('woff2');font-weight:700;font-style:normal;font-display:swap}
